body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    
    
}
h1{
    
    
    
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 15px;
    color: hsl(0, 0, 13%)
}
h2{
    margin: auto;
    font-size: 1.5rem;
    font-weight: normal;
    color: hsl(0, 0, 13%)
}
.hc{
    
    background-color:#9b7e4b;
    display: flex;
    align-items: center;
    margin: 15px;
    margin-top: 5px;
    border: 2px solid #453630;
    
    
    border-radius: 25px ;
}
.anex, .anps{
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 1rem;
    width: 100%;
    
}
.anex p, .anps p{
    display: flex;
    justify-content: center;
    width: 25%;
}
.anex h4, .anps h4{
    display: flex;
    justify-content: center;
    width: 25%;
}
.anex h5, .anps h5{
    display: flex;
    justify-content: center;
    width: 25%;
}

p{
    color:  hsl(0, 0, 13%);
    
}
 
.ps, .ex{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #453630;
    width: 25%;
    margin: auto;
}
.h5{
    font-size: 3em;
}

.hc2{
    
    display: flex;
    justify-content: center;
    
}


header{
    height: 100px;
    background-color: #453630;
    display: flex;
    justify-content: center;
}
footer{
    height: 80px;
    padding-top:30px;
    text-align: center;
    background-color: #453630;
    border-top:5px solid #9b7e4b;
   
}
nav{
    width: 100%;
    background-color: #453630;
    
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
    float:left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .presentation{
    border-top: 5px solid #9b7e4b;
    background-color: rgba(155, 126, 75, 0.15);
    
    
}
.menu-exp:hover, .parcours{
    border-top: 5px solid #9b7e4b;
    background-color: rgba(155, 126, 75, 0.15);
}
.menu-hob:hover, .competences{
    border-top: 5px solid #9b7e4b;
    background-color: rgba(155, 126, 75, 0.15);
    
    
    
}
.menu-con:hover, .recommandation{
    border-top: 5px solid #9b7e4b;
    background-color: rgba(155, 126, 75, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: solid #453630;
 
}
.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sec2{
    display: flex;
    justify-content: space-around;
}
.reco{
    margin: auto;
}
.reco img{
    border: 2px solid #453630;
    border-radius: 100px;
}


.right{
    display: flex;
    justify-content: center;
    
}

.sous1{
    display: flex;
    justify-content: space-around;
}

.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear: both;
}
.brown{
    border-top: 5px solid #9b7e4b;
    background-color: rgba(155, 126, 75, 0.15);
    margin-bottom: 0px;
}
.leftexp{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.rightexp{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    
    width: 100%;
    
}
.leftexp img{
    display: flex;
    justify-content: center;
    border: 2px solid #453630;
    background-color: #453630 ;
    max-width:300px;
    
    margin-top: 5px;
    
    border-radius: 30px;
}

.cn{
    display: flex;
    justify-content: space-around;
    margin: auto;
    
}
.cn h3{
    border-bottom: 2px solid #453630 ;
}
.comp{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ni{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.photo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.photo img{
    display: flex;
    border: 2px solid #453630;
    border-radius: 100px;
}
.menu-con img{
    animation: 3s linear rotation infinite;
}

@media screen and (max-width:700px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}
@keyframes rotation{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}